@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans+Caption:wght@400;700&family=Pixelify+Sans:wght@400..700&display=swap');


.header {
  padding: 1rem 2rem;
  background-color: #FAFCFC;
  border-bottom: 2px solid #4CAF50;
  display: flex;
  font-size: 2.5 rem;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  margin: 0;
  font-size: 2.5 rem;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  color: #1976D2;
  letter-spacing: 0.5px;
}

.nav {
  display: flex;
  font-weight: bolder;
}

.link {
  margin-left: 1.5rem;
  color: #1976D2;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.link:hover {
  color: #346088;
  text-decoration: underline;
}

* {
  font-family: 'PT Sans Caption', sans-serif;
}